<header>
  <!-- Nav -->
  <top-nav></top-nav>
  <div class="courses-page-header">
    <h1>Courses</h1>
    <p>Prepare to learn a new skills with the best online books and courses.</p>
  </div>
</header>


<!-- Courses Section -->
<body>
  <div class="course-container">
    <div *ngFor="let course of courses" class="course-card">
      <div class="icon">{{ course.bookid }}</div>
      <h3>{{ course.bookname }}</h3>
      <p>Author: {{ course.author }}</p>
      <p>Price: ${{ course.price }}</p>

    <div class="button-div">
      <button mat-raised-button (click)="openDialog(course.bookid)" color="warn">Delete</button>
    </div>
    </div>
  </div>
</body>
