<header>
    <!-- Nav -->
    <top-nav></top-nav>
    <div class="courses-page-header">
        <h1>Courses</h1>
        <p>Prepare to learn a new skills with the best online books and courses.</p>
    </div>
   
</header>

<!-- Courses Section -->
<main>
    <div class="course-container">
        <!-- English Language Card -->
        <div class="course-card">
            <div class="icon">EN</div>
            <h3>English Language</h3>
            <p>125 Tutors</p>
        </div>

        <!-- Spanish Language Card -->
        <div class="course-card">
            <div class="icon">ES</div>
            <h3>Spanish Language</h3>
            <p>83 Tutors</p>
        </div>

        <!-- Japanese Language Card -->
        <div class="course-card">
            <div class="icon">JP</div>
            <h3>Japanese Language</h3>
            <p>76 Tutors</p>
        </div>

        <!-- German Language Card -->
        <div class="course-card">
            <div class="icon">DE</div>
            <h3>German Language</h3>
            <p>64 Tutors</p>
        </div>
    </div>
</main>